<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Curriculum vitae de Lassoie Jean-Valentin{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block stylesheets %}
        <link rel="stylesheet" href="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
        <link rel="stylesheet" href="{{ asset('/css/animate.css')}}">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('/css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('/css/loader.css') }}">
    {% endblock %}

    {% block library %}
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
    {% endblock %}
</head>

<body ng-app="app">
    {% block body %}{% endblock %}

        {% block javascripts %}
            <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
            <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
            <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
            <script src="http://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.js"></script>
            <script src="https://cdn.jsdelivr.net/foundation/6.2.4-rc2/js/foundation.equalizer.js"></script>
            <script src="{{ asset("/js/app.js") }}"></script>
            <script type="text/javascript">
                $(document).foundation();
            </script>
        {% endblock %}
    </body>
    </html>
