    <section class="section1">
        <h1>Objectif</h1>
        <hr>
        
        <div class="row"  >
            <ul class="medium-12 columns">


                <li>
                    Etant étudiant en 2ème année (cursus de 3 ans).
                    <li>

                        Je recherche un stage non-rémunéré en informatique (analyse, développement,…) de 100 à 200 heures dans le cadre de mes études (bachelier en informatique de gestion = licence MIAGE) à l'Institut d'enseignement de promotion sociale de Mouscron.  
                    </li>
                </li>
                
            </ul>   
            
        </div>
        

    </section>
    <section class="section3">
        <h1>Connaissances en informatique</h1>
        <hr>
        <div class="row">

            <div class="medium-6 columns">
                <h2>Languages</h2>
                <hr>
                <ul>
                    <li>
                        HTML 
                        <img src="{{ asset('img/html.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0" aria-valuetext="90 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 90%">
                                <p class="progress-meter-text">90%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        CSS (SASS)
                        <img src="{{ asset('img/css.png') }}" width="40px" height="40px">
                        <img src="{{ asset('img/sass.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="90" aria-valuemin="0" aria-valuetext="90 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 90%">
                                <p class="progress-meter-text">90%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        JS
                        <img src="{{ asset('img/js.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 75%">
                                <p class="progress-meter-text">75%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        PHP
                        <img src="{{ asset('img/php.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="80" aria-valuemin="0" aria-valuetext="80 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 80%">
                                <p class="progress-meter-text">80%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        SQL
                        <img src="{{ asset('img/sql.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="80" aria-valuemin="0" aria-valuetext="80 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 80%">
                                <p class="progress-meter-text">80%</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="medium-6 columns">
                <h2>Framework/Library</h2>
                <hr>
                <ul>
                    <li>
                        SYMFONY (TWIG, DOCTRINE)
                        <img src="{{ asset('img/sf.png') }}" width="40px" height="40px">
                        <img src="{{ asset('img/twig.png') }}" width="50px" height="50px">
                        <img src="{{ asset('img/doctrine.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="68" aria-valuemin="0" aria-valuetext="68 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 68%">
                                <p class="progress-meter-text">68%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        ANGULARJS, JQUERY
                        <img src="{{ asset('img/angular.png') }}" width="40px" height="40px">
                        <img src="{{ asset('img/jquery.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="70" aria-valuemin="0" aria-valuetext="70 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 70%">
                                <p class="progress-meter-text">70%</p>
                            </div>
                        </div>
                    </li>       
                    <li>
                        IONIC (ANGULARJS)
                        <img src="{{ asset('img/ionic.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="70" aria-valuemin="0" aria-valuetext="70 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 70%">
                                <p class="progress-meter-text">70%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        IONIC2 (ANGULAR2, ES6, TS)
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="60" aria-valuemin="0" aria-valuetext="60 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 60%">
                                <p class="progress-meter-text">60%</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        BOOTSTRAP, ZURB FOUNDATION
                        <img src="{{ asset('img/bootstrap.png') }}" width="40px" height="40px">
                        <img src="{{ asset('img/foundation.png') }}" width="40px" height="40px">
                        <div class="success progress" role="progressbar" tabindex="0" aria-valuenow="75" aria-valuemin="0" aria-valuetext="75 percent" aria-valuemax="100">
                            <div class="progress-meter" style="width: 75%">
                                <p class="progress-meter-text">75%</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>


        </div>
    </section>

    <section class="section1">
        <h1>Formations</h1>
        <hr>
        <div class="row">
            <ul class="medium-12 columns">

                <li>
                    Humanités générales à l'athénée royal de Comines : certificat d'enseignement secondaire supérieur (= bac français) obtenu en juin 2015.
                </li>
                <li>
                    Formation d'animateur (Accueil des enfants dans une  structure collective : Bases Méthodologiques) à l'institut Saint-Henri de Comines.
                </li>
            </ul>
        </div>
    </section>
    <section class="section2">
        <h1>Expériences</h1>
        <hr>
        <div class="row">
            <ul class="medium-12 columns">
                <li>
                    Job étudiant (animateur) aux plaines communales durant les vacances (Le Bizet et Houthem en 2012 et 2013).
                </li>
                <li>
                    Job étudiant (commis de cuisine) le week-end dans une estaminet « De Kauwackers » à Heuvelland de juillet 2014 à février 2016. Tâches effectuées : préparation plats et desserts, dressage, service en salle, vaisselle,....
                </li>
            </p>
        </div>
    </section>
    <section class="section1">
        <h1>Connaissances linguistiques</h1>
        <hr>
        <div class="row">

            <ul class="medium-12 columns">

                <li>
                    Français : courant.
                </li>
                <li>
                    Néerlandais : connaissances de base.
                </li>
                <li>
                    Anglais : connaissances de base.
                </li>
                <li>
                    Espagnol : connaissances de base.                       
                </li>
            </ul>   

            
        </div>
    </section>
    <section class="section2">
        <h1>Qualités</h1>
        <hr>
        <div class="row">
            <ul class="medium-12 columns">

                <li>    
                    Je suis souriant.
                </li>
                <li>
                    serviable.
                </li>
                <li>
                    dynamique.
                </li>
                <li>
                    motivé.
                </li>
                <li>
                    j’apprends vite.    
                </li>

            </ul>
        </div>
    </section>
    <section class="section1">
        <h1>Loisirs</h1>
        <hr>

        <div class="row">
            <ul class="medium-12 columns">
                <li>    
                    l’informatique.
                </li>
                <li>    
                    les nouvelles technologies.
                </li>
                <li>    
                    Le football.
                </li>               
            </ul>
        </div>
    </section>



